<h1>Liste des compositions</h1>

<ol>
  <% @compositions.each do |composition| %>
  <li>
    nom : <%= link_to composition.name, composition_path(composition) %>
    <%= link_to edit_composition_path(composition), class: "delete-link hidden" do %>
      <button id="edit-btn" class="btn btn-tag"><i class="far fa-edit"></i></button>
    <% end %>
    <%= link_to composition_path(composition), method: 'DELETE', data: {confirm: "Are you sure?"}, class: "delete-link hidden" do %>
      <button id="delete-btn" class="btn btn-tag"><i class="far fa-times-circle"></i></button>
    <% end %>
      composition :
      <ul>
        <% composition.proportions.each do |compo| %>
        <li>
          <%= pluralize(compo.stems_number, 'tige') %> de <%= compo.flower.name %> <%= compo.flower.color %> <%= cl_image_tag compo.flower.photo.key, class: "avatar" %>
        </li>
        <% end %>
      </ul>
  </li>
  <% end %>
</ol>

<%= link_to 'ajouter une composition', new_composition_path %> <br>
