<h1>Liste des commandes</h1>

<ol>
  <% @orders.each do |order| %>
  <li>
    Commande du : <%= link_to order.date, order_path(order) %>
    <%= link_to edit_order_path(order), class: "delete-link hidden" do %>
      <button id="edit-btn" class="btn btn-tag"><i class="far fa-edit"></i></button>
    <% end %>
    <%= link_to order_path(order), method: 'DELETE', data: {confirm: "Are you sure?"}, class: "delete-link hidden" do %>
      <button id="delete-btn" class="btn btn-tag"><i class="far fa-times-circle"></i></button>
    <% end %>
      comprenant :
      <ul>
        <% order.quantities.each do |item| %>
          <li>
            <% t = item.composition.name.split %>
            <% first_word = t.shift %>
            <% rest_sentence = t.join(" ") %>
            <%= pluralize(item.compositions_number, first_word) %> <%= rest_sentence %>
          </li>
      <% end %>
      </ul>
  </li>
  <% end %>
</ol>

<%= link_to 'ajouter une commande', new_order_path %> <br>

