<h2>Commande <%= @order.name %></h2>
<h6>pour le <%= @order.date %> :</h6>


<h4>Ajouter des Compositions</h4>
<p>
<%= simple_form_for @composition do |f| %>
<%= f.input :model %>
<%= hidden_field_tag :order, params[:id] %>
<%= f.simple_fields_for :quantities do |q| %>
<%= q.input :compositions_number, label: "quelle quantitée ?" %>
<% end %>
<%= f.submit "Ajouter les compositions", class: "btn btn-success" %>
<% end %>
</p>

<p>
<ul>
<% @order.quantities.each do |item| %>
  <li>
    <% t = item.composition.name.split %>
    <% first_word = t.shift %>
    <% rest_sentence = t.join(" ") %>
    <%= pluralize(item.compositions_number, first_word) %> <%= rest_sentence %>
    <%= link_to order_quantity_path(@order, item.id), method: 'DELETE', data: {confirm: "Are you sure?"}, class: "delete-link hidden" do %>
      <button id="delete-btn" class="btn btn-tag"><i class="far fa-times-circle"></i></button>
    <% end %>
  </li>
<% end %>
</ul>
</p>


soit les quantités de fleurs suivantes :
<p>
  <ul>
  <% @cmd_gal.each do |key, value|%>
    <li>
        <%= pluralize(value, 'tige') %> de <%= key %>
    </li>
    <% end %>
  </ul>
</p>


<%= link_to show_by_date_orders_path(@order.date) do %>
  <button class="btn btn-primary">commande complète</button>
<% end %>
