<%= link_to orders_path do %>
  <button  id="back" class="btn btn-success">Back...</button>
<% end %>
pour le <%= @order.date %> :
<p>
<ul>
<% @order.quantities.each do |item| %>
  <li>
    <% t = item.composition.name.split %>
    <% first_word = t.shift %>
    <% rest_sentence = t.join(" ") %>
    <%= pluralize(item.compositions_number, first_word) %> <%= rest_sentence %>
    <%= link_to order_quantity_path(@order, item.id), method: 'DELETE', data: {confirm: "Are you sure?"}, class: "delete-link hidden" do %>
      <button id="delete-btn" class="btn btn-tag"><i class="far fa-times-circle"></i></button>
    <% end %>
  </li>
<% end %>
</ul>
</p>


soit les quantités suivantes :
<p>
  <ul>
  <% @cmd_gal.each do |key, value|%>
    <li>
        <%= pluralize(value, 'tige') %> de <%= key %>
    </li>
    <% end %>
  </ul>
</p>

<h2>Ajouter des Compositions</h2>
<p>
<%= simple_form_for [@order, @quantity] do |f| %>
<%= f.association :composition, collection: Composition.order(:name) %>
<%= f.input :compositions_number, label: "quelle quantitée ?" %>
<%= f.submit "Ajouter les compositions", class: "btn btn-success" %>
<% end %>
</p>
